@import "../variables";


.statistics-page {
  .mode-buttons, .date-nav-buttons {
    @include media-breakpoint-up(lg) {
      button { font-size: 2em; }
    }

    @include media-breakpoint-only(md) {
      button { font-size: 1.5em; }
    }
  }

  .date-nav-buttons {
    button {
      border-radius: 50%;
      width: 3em;
      height: 3em;
    }
  }

  small {
    font-size: .6em;
  }
  
  button {
    font-size: 1em;
    padding: 0.5em;
  }  
}
