@import "../variables";


.statistics-page {
  .mode-buttons, .date-nav-buttons {
    @include media-breakpoint-up(lg) {
      button { font-size: 2em; }
    }

    @include media-breakpoint-only(md) {
      button { font-size: 1.5em; }
    }
  }

  .date-nav-buttons {
    position: fixed;

    @include media-breakpoint-only(xs) {
      position: static;
      
      button {
        width: 100%;
      }
    }
    
    &.left-direction {
      top: 50%;
      left: 0;
    }

    &.right-direction {
      top: 50%;
      text-align: right;
      right: 20px;
    }

    button {
      border-radius: 50%;
    }
  }

  small {
    font-size: .6em;
  }
  
  button {
    font-size: 1em;
    padding: 0.5em;
  }  
}
