.login-form, .register-form {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(to right, #161677 0%, #5014336b 100%), url('../../images/login.jpg');
  background-blend-mode: hard-light;
  background-size: cover;

  .logo {
    background-image: url('../../images/logo.png');
    width: 200px;
    height: 150px;
    top: 140px;
    left: 90px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .semi-transparent-text {
    opacity: .4;
  }

  .copyright {
    opacity: .3;
    position: fixed;
    bottom: 10px;
    left: 20px;
    color: white;
  }

  input {
    transition: background-color 0.5s ease;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffffff3f;

    &:focus {
      color: white;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &::placeholder {
      color: gray;
    }
  }

  button {
    width: 8em;
  }
}

input, button {
  border-radius: 100em !important;
}
