.login-form, .register-form {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 100vh;

  button {
    width: 8em;
  }
}

input, button {
  border-radius: 100em !important;
}
