// @import "node_modules/bootstrap/scss/_variables";

.register {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 100vh;
  margin: 0 15px;
  
  input, button {
    border-radius: 100em;
  }

  button {
    width: 8em;
  }
}
