@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


body {
  background-color: #f3faff;
  transition: background-color 0.5s ease;

  &.login {
    background-color: #1b4877;
  }
}

.home-container {
  margin: 0 -15px;

  nav {
    padding-top: 0.5em !important;
    box-shadow: 0px 4px 30px -4px rgba(0, 51, 90, 0.1);
  }

  .nav-pills {
    .nav-link {
      cursor: pointer;
      background-color: white;
      transition: background-color, 1s ease;
      border-radius: 1em 1em 0 0;
      margin: 0 0.3em;
      font-weight: 500;

      @include media-breakpoint-only(xs) {
        border-radius: 2em;
      }

      &:hover {
        background-color: #e5f3fe;
      }

      &.active {
        background-color: #d1e5f5;
        color: #7b84b5;
      }
    }
  }

  .home-body {
    margin: 100px 40px 0;

    &.home-body-vertical-middle {
      height: 100vh;
      margin-top: 0;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}
