@import "../variables";


body {
  background-color: $background-color;
  transition: background-color 0.5s ease;
  user-select: none;
  color: $font-color-normal;

  &.login {
    background-color: $login-background-color;
  }
}

.watermark-text {
  opacity: .1;
  text-align: center;
  line-height: 1;
  font-size: 6em;
}

table {
  tr {
    color: $font-color-normal !important;
  }

  &.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff04;
  }
}

button {
  &.circle {
    border-radius: 100%;
  }
}

.home-container {
  margin: 0 -15px;

  nav.main-navbar {
    box-shadow: 0px 2px 30px -4px rgba(139, 199, 248, 0.281);
    min-height: $navbar-height;
    align-items: flex-end;
    background-color: $navbar-background-color;
    z-index: 9;

    .navbar-toggler {
      margin: 0.5rem 0;
      border: 2px solid rgb(51, 71, 109);
      outline: 0;

      &:hover {
        background-color: $hover-color;
      }
      &:active {
        background-color: $active-color;
      }
    }

    .nav-pills {
      .nav-link {
        cursor: pointer;
        background-image: linear-gradient(lighten($background-color-secondary, 20%), $background-color);
        transition: background-color, 1s ease;
        border: 2px solid rgb(51, 71, 109);
        border-radius: 1em 1em 0 0;
        margin: 0 0.3em;
  
        @include media-breakpoint-up(md) {
          border-bottom: 0;
        }
  
        @include media-breakpoint-down(sm) {
          border-radius: 2em;
          margin-bottom: 0.2em;
        }
  
        &:hover {
          background-color: lighten($hover-color, 10%);
          background-image: none;
        }
  
        &.active {
          background-color: #41485d;
          background-image: linear-gradient(#a2bdff, #14212f);
          color: #ffffff;
  
          // background-color: $background-color;
          // background-image: none;
          // color: #7b84b5;
        }
      }
    }
  }

  .home-body {
    height: calc(100vh - #{$navbar-height});
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    padding: $spacer * 2;
    top: $navbar-height;

    &.game {
      background-repeat: no-repeat;
      background-size: 1000px;
      background-position: right bottom;
      background-image: url('../../images/image1.jpg');
    }

    &.dashboard {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      background-image: url('../../images/image2.jpg');
    }
      
    @include media-breakpoint-down(sm) {
      top: 72px;
      height: calc(100vh - 72px);
    }

    &.home-body-vertical-middle {
      // margin-top: 0;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    &::-webkit-scrollbar-track
    {
      // box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border: solid 3px transparent;
      border-radius: 10px;
      display: none;
      background-color:transparent;
    }

    &::-webkit-scrollbar
    {
      width: 20px;
    }

    &::-webkit-scrollbar-thumb
    {
      box-shadow: inset 0 0 14px 14px rgba(255, 255, 255, .15);
      border: solid 7px transparent;
      border-radius: 12px;
      transition: all 1s ease;

      &:hover {
        box-shadow: inset 0 0 14px 14px rgba(255, 255, 255, .1);
      }
    }
  }
}
