@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$navbar-height: 4em;
$background-color: #f3faff;
$login-background-color: #1b4877;