@import "../../variables";


.game-progress-container {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-only(xl) {
    font-size: 1.8em;
  }
  @include media-breakpoint-only(lg) {
    font-size: 1.5em;
  }
  @include media-breakpoint-only(md) {
    font-size: 1.2em;
  }
  @include media-breakpoint-only(sm) {
    font-size: 1.2em;
  }

  small {
    font-size: 0.7em;
  }
  
  .goal-map-pane {
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      margin-top: 4rem !important;
    }
  }

  svg {
    font-size: 1.3em;

    .CircularProgressbar-trail {
      stroke: #ffffff14;
    }

    .CircularProgressbar-text {
      @include media-breakpoint-only(xl) {
        font-size: 1.5em;
      }
      @include media-breakpoint-only(lg) {
        font-size: 1.7em;
      }
      @include media-breakpoint-only(md) {
        font-size: 2em;
      }
      @include media-breakpoint-only(sm) {
        font-size: 2.2em;
      }
      @include media-breakpoint-only(xs) {
        font-size: 2.5em;
      }
      font-weight: lighter;
      transform: translate(0, 5%);
    }
  }

  .goal-box {
    color: #3fbb3f;
    
    .title {
      color: darken(#3fbb3f, 13%);
    }
  }

  .fail-box {
    color: #d14444;
    
    .title {
      color: darken(#d14444, 13%);
    }
  }

  .busy-game-text {
    text-align: center;
    font-size: 2em;
  }

  .game-control-button {
    font-size: 1em;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  .fancy-box {
    padding: 0.5em;
  }

  .elapsed-time {
    background-color: #ffffff00;
    box-shadow: none;
  }

  .last-try {
    .row {
      align-items: center;

      .field-title {
        margin-top: 2%;
        color: $font-color-secondary;
        text-align: right;
      }
      
      .field-value {
        font-size: 2em;
      }
    }
  }
}