@import "../../variables";

.game-panel {
  @include media-breakpoint-only(xl) {
    .text-game-notice {
      font-size: 7em;
    }
    .text-game-finished {
      font-size: 4em;
    }
  }

  @include media-breakpoint-only(lg) {
    .text-game-notice {
      font-size: 5em;
    }
    .text-game-finished {
      font-size: 3em;
    }
  }

  @include media-breakpoint-down(md) {
    .text-game-notice {
      font-size: 4em;
    }
    .text-game-finished {
      font-size: 2em;
    }
  }
    
  .text-game-notice {
    position: fixed;
    padding: 0 0.5em;
    line-height: 1.2;
    width: 100%;
    left: 0;
    text-align: center;
    top: 45%;

    &.bring-to-top {
      z-index: 9;
    }
  }
}
