@import "../../variables";

.review-detail {
  button {
    @include media-breakpoint-only(xl) {
      font-size: 1.5em;
    }
    @include media-breakpoint-only(lg) {
      font-size: 1.5em;
    }
    @include media-breakpoint-only(md) {
      font-size: 1.2em;
    }
    @include media-breakpoint-only(sm) {
      font-size: 1em;
    }
    padding: 0.5em;
  }

  @include media-breakpoint-only(xs) {
    .pagination {
      .page-item {
        margin: 0 2px !important;
        .page-link {
          padding: 5px 10px !important;
        }
      }
    }
  }

  table {
    tbody {
      tr {
        transition: background-color .5s ease;

        &.selected {
          background-color: $active-color !important;
        }

        &:hover {
          cursor: pointer;
          background-color: $hover-color !important;
        }
      }
    }
  }

  .pagination {
    justify-content: center;
    .page-item {
      margin: 0 5px;

      .page-link {
        transition: background-color 1s ease;
        background-color: $background-color;
        border-color: lighten($background-color-secondary, 3%); 
        color: $font-color-normal;
        border-width: 2px;
        border-radius: 10px !important;
        padding: 10px 20px;
        
        &:hover {
          background-color: $hover-color;
        }
      }
      &.active {
        .page-link {
          background-color: $active-color;
        }
      }
    }
  }
}